.orderWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.orderName {
	flex: 1;
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	color: #111;
}

.orderAmount, .orderPrice {
	flex: 1;
	margin: 0;
	font-size: 18px;
}

.deleteButton {
	display: inline-block;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}

.deleteImg {
	display: block;
	width: 26px;
	height: 26px;
}