.ordersBoard {
	width: 50%;
}

.ordersWrapper {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    height: 50vh;
    overflow: scroll;
}

.ordersBoardTitle {
	font-size: 30px;
	color: #fff;
}

.totalPrice {
    text-align: right;
    color: #282c34;
}

.totalPriceText {
    font-weight: 600;
}