.App {
  max-width: 1200px;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Board {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}