.itemWrapper {
	display: flex;
	min-width: 200px;
	align-items: center;
	padding: 16px 20px;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.itemDescription {
	margin-left: 20px;
	text-align: left;
}

.itemTitle {
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #111;
}

.itemImage {
	display: block;
	width: 40px;
	height: auto;
}

.itemPrice {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}

.priceNumber {
	font-size: 16px;
	font-weight: 600;
}