.ordersBoard {
	width: 50%;
}

.emptyOrdersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 50vh;
    background-color: #fff;
    border-radius: 4px;
}

.ordersBoardTitle {
	font-size: 30px;
	color: #fff;
}

.emptyOrderText {
    margin: 0;
    font-size: 20px;
    color: #111;
}